.policy {
  @extend .recent;

  display: grid;
  grid-template-rows: 3em calc(100% - 3em);
  padding-bottom: 1em;

  &__btns {
    button {
      @include btn-outline($primary-ft);
    }
  }

  &__table {
    min-height: 100%;
    overflow-y: auto;
  }
}
